[Unit]
Description=Service for relaying Riemann events to Riemann/Carbon destinations
Documentation=https://github.com/blind-oracle/riemann-relay
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStart=/usr/bin/riemann-relay -config /etc/riemann-relay/riemann-relay.conf
Restart=on-failure
KillMode=control-group

OOMScoreAdjust=-900
Nice=-20
CPUSchedulingPolicy=rr
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
